*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
    color: antiquewhite;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}


.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border:1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content{
    background-color: #2a2a2a;
    border:1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

.profile{
        text-align: center;

}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border:1px solid #3a3a3a;

}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color:rgb(234, 234, 19);
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}



.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;

}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
        color: #e0e0e0;
        text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

.navigation{
        border-bottom: 2px solid #3a3a3a;
        margin-bottom: 20px;
        padding-bottom: 20px;

}


nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.active,nav  a:hover{
    color: yellow;

}


.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: yellow;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom:30px;
}




.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 40px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    margin-top: 20px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    text-align: center;
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px black;
}

#education{
    margin-top: 30px;

}


.ed{
    position: relative;
    margin-top: 20px;
    
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.board{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight:500;
    margin-bottom: 5px;
}

.school{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.ed1 , .ed2{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid yellow;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom:0px;
    left: 5px;
    border:  2px solid #3a3a3a;
}

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}


.project{
        background-color: #1e1e1e;
        border-radius: 12px;
        border: 1px solid #3a3a3a;
        overflow: hidden;
        transition: transform 0.5s ease box-shadow 0.5 ease;   
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px black;
}

.project img{
    width: 100%;
    height: auto;
    display: block;
}


.project-link{
    text-decoration: none;
    color: #e0e0e0;
}

.project-link:hover{
    color: yellow;
}


.card{
    padding: 20px;

}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 15px;
}

.card span{
    background-color: rgba(255,191,0,0.1);
    color: yellow;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
@media  screen and(max-width: 1200px){
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}


